
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nunito:wght@700&display=swap');

html {
    background-color: #32a9a5;
    scroll-behavior: smooth;
    text-align: center;
    align-content: center;
}

body {

    background-size: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 8.5%;
}

h5 {
    font-family: "Nunito";
    color: #f9f2e2;
    font-size: 20px;
    font-weight: normal;
}

img {
    padding: 0px;
    margin: 0px;
}

p {
    font-family: "Nunito";
    color: #f9f2e2;
    font-size: 25px;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-weight: normal;
}

a {
    color: #fcc17b;
    text-decoration: none;
}

/* code reference: https://github.com/michaellamore/Modded-Rocket-Patrol/blob/main/styles/main.css#L7 

Michael Remorin's Modded Rocket Patrol
*/
canvas {
    border-radius: 25px;
    border: solid #f9f2e2 20px;
}

#phaser-game {
    padding: 5%;
    padding-bottom: 15%;
}

/* Ashley: code reference from a previous project I did */
ul#navigation-bar {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    padding-top: 10px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 78%;
    font-family: "Nunito";
  }
  
  ul#navigation-bar li {
    display: inline;
  }
  
  ul#navigation-bar a {
    background-color: #fcc17b;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
  }
  
  ul#navigation-bar a:hover {
    color: #32a9a5;
    font-weight: bold;
  }